<section class="bg-gray-100">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="bg-white max-w-xl rounded-xl shadow-lg py-12 px-20 flex flex-col items-center justify-center gap-6">
      <div>
        <%= inline_svg_tag "illustrations/season-change", class: "fill-current h-40" %>
      </div>
      <h1 class="text-2xl font-semibold text-gray-600">Your token has expired</h1>
      <p class="text-center text-gray-600 text-sm">Please contact your administrator to resend the invitation email. Don't worry, your data is safe.</p>
    </div>
  </div>
</div>
