<%= simple_form_for(@claim_group, url: team_claim_path(@claim_group), wrapper: :default, html: {
  id: dom_id(@claim_group, "form_approval"),
  class: "form flex flex-col gap-4",
}) do |f| %>
  <%= hidden_field_tag "type", @type, class: "sr-only" %>
  <% if @claim_group.errors[:base].any? %>
    <div data-controller="alert" class="alert alert--error" role="alert">
      <div><%= @claim_group.errors[:base].first %></div>
      <button class="alert__button" type="button" data-action="alert#remove" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
          <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
        </svg>
      </button>
    </div>
  <% end %>
  <%= f.input :comment, as: :text, label: "Comment",
                                   placeholder: "Leave the message here",
                                   input_html: { class: "w-full", rows: 2 } %>
<% end %>
