<div class="hidden text-center w-3/4 mx-auto only:block">
  <span class="text-gray-500 text-sm">
    No Claim Types have been added yet. Click the 'Add Claim Type' button to create a new type.
  </span>
</div>
