<div class="hidden text-center w-3/4 mx-auto only:block">
  <span class="text-gray-500 text-sm">
    No Leave Types have been configured yet. Click the 'Add Leave Type' button to set up your company's Leave Types.
  </span>
</div>
