<div class="error-page">
  <div class="error-page__container">
    <div class="error-page__heading">
      <div class="error-page__text">
        <span class="error-page__sub-title">403 forbidden</span>
        <h1 class="error-page__title">Permission denied</h1>
      </div>
      <span class="error-page__support-text">You do not have permission to access this page, please refer to your system administrator</span>
    </div>
    <div class="error-page__actions">
      <%= link_to "Take me home", home_path, class: "btn btn--primary btn--large" %>
    </div>
  </div>
</div>
