<div
  tabindex="-1"
  aria-hidden="true"
  class="modal"
  data-controller="modal"
  data-action="turbo-modal:show@document->modal#open turbo-modal:close@document->modal#close"
>
  <div class="modal__container">
    <div class="modal__content" id="modal_content"></div>
  </div>
</div>
