<div class="tabs__body flex-1">
  <div class="tabs__section">
    <div class="section-header section-header--divider">
      <h3 class="section-header__title">Notification settings</h3>
      <span class="section-header__help">We may still send you important notifications about your account outside of your notification settings.</span>
    </div>
    <div class="flex flex-col gap-5">
      <span>Coming Soon</span>
    </div>
  </div>
</div>
