<% breadcrumb :settings_notifications %>

<%= render partial: "dashboard/settings/shared/page_header" %>

<div class="tabs">
  <%= render partial: "dashboard/settings/shared/navigation" %>
  <%= render partial: "form" %>
</div>
